#staticLanding {
  height: 100vh;
  background-size: cover;
  position: relative;
}

#staticLanding h1 {
  text-align: center;
  width: 100%;
  top: 40%;
  position: absolute;
  font-size: 150px;
  text-shadow: 0px 0px 15px black;
  color: whitesmoke;
}

#staticBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .1;
  z-index: -1;
}

#staticPage {
  position: relative;
}

#staticPage h2 {
  text-align: center;
  padding: 50px 10px 20px;
}

#staticPage p {
  padding: 10px;
  background: rgba(252,253,255,1);
  border-radius: 5px;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 50px;
}

#staticPage .menuItemDiv {
  width: 350px;
  height: 200px;
  float: left;
  margin: 10px;
  position: relative;
  padding: 10px;
  background: rgba(252,253,255,1);
  border-radius: 5px;
}

#staticPage #menuContainerDiv {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

#staticPage #menuContainerDiv #cf {
  clear: both;
  margin-bottom: 80px;
}

#staticPage .menuItemDiv h3 {
  text-align: center;
}

#staticPage .menuItemDiv p {
  text-align: center;
}

#staticPage .menuItemDiv .item-price {
  position: absolute;
  left: 5px;
  top: 5px;
}

#staticPage table {
  border: 1px solid black;
  width: 100%;
  background: black;
}

#staticPage td {
  padding: 10px;
  width: 50%;
  text-align: left;
  color: white;
}

#staticPage #imagesScrollDiv {
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#staticPage #imagesScrollDiv:hover {
  cursor: all-scroll;
}

#staticPage #imagesScrollDiv::-webkit-scrollbar {
  display: none;
}

#staticPage #imagesScrollDiv img {
  display: inline-block;
  height: 100%;
}

#map {
  height: 500px;
  max-width: 1000px;
  margin: auto;
}

.hideDiv {
  opacity: .01;
}

.showDiv {
  opacity: 1;
  transition: opacity 500ms;
}

.hideImages {
  transform: translateX(100%);
}

.showImages {
  transform: translateX(0%);
  transition: transform 500ms linear;
}