body {
  font-family: Arial;
}

#landing {
  background-image: url(../public/food-background.jpg);
  min-height: 100vh;
}

#landing-content {
  padding-top: 300px;
  color: white;
}

#landing-content p {
  font-size: 1.5em;
  text-shadow: 2px 2px #ff0000;
}

.main-title {
  font-family: 'Lobster', cursive;
  font-size: 6em;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px #ff0000;
}

#search-bar {
  width: 50%;
  margin: auto;
}

#search-bar-text {
  text-align: center;
}

.btn {
  margin-top: 5px;
  width: 100px;
}

#staticLanding {
  height: 100vh;
  background-size: cover;
  position: relative;
}

#staticLanding h1 {
  text-align: center;
  width: 100%;
  top: 40%;
  position: absolute;
  font-size: 150px;
  text-shadow: 0px 0px 15px black;
  color: whitesmoke;
}