body {
  font-family: Arial;
}

#landing {

}

.main-title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
}

#search-bar {
  width: 50%;
  margin: auto;
}

#search-bar-text {
  text-align: center;
}

.btn {
  margin-top: 5px;
  width: 100px;
}