body {
  font-family: Arial;
}

#landing {
  background-image: url(../public/food-background.jpg);
  min-height: 100vh;
}

#landing-content {
  padding-top: 300px;
  color: white;
}

#landing-content p {
  font-size: 1.5em;
  text-shadow: 2px 2px #ff0000;
}

.main-title {
  font-family: 'Lobster', cursive;
  font-size: 6em;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px #ff0000;
}

#search-bar {
  width: 50%;
  margin: auto;
}

#search-bar-text {
  text-align: center;
}

#dashboard {
  padding-top: 150px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/files.creativemarket.com/images/screenshots/products/10/106/106396/keih4mm9pyv3kpq8scymlnub2aecxzs9iscdane82nvbmfcc3leqqh7pjk0adoki-o.jpg);
  min-height: 100vh;
}

#menu-table {
  text-align: center;
}

#go {
  margin-top: 5px;
  width: 100px;
}
